@* @{
    ViewData["Title"] = "Home Page";
}

<div class="my-5"></div>
<div class="text-center"><p>ATM  Menu</p></div>
<div class="container">
 <div class="row col-6 mx-auto border-1 border">
  
        <div class="col-3"><a href="">موجودی</a></div>
        <div class="col-3"><a href="">تغییر رمز</a></div>
  


 </div>

</div>

 *@
 @model atm_mvc.account
 
<form action="/home/check">
<div class="text-center">
    <input type="text" asp-for="Account_number">
    <input type="text" asp-for="Password">
    <button type="submit">ورود</button>
</div>

</form>